pipeline/Copy single patient from OIQ to lake.json
{
	"name": "Copy single patient from OIQ to lake",
	"properties": {
		"activities": [
			{
				"name": "Patient OIQ data to DS lake",
				"description": "Copy patient OIQ data to data science lake",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set target PatientId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrators/copyOIQNonPHIToDataScience-orchestrator",
					"method": "POST",
					"body": {
						"value": "@variables('PatientId')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "Data_Factory_Azure_Functions",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait until finish",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait a few seconds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Patient OIQ data to DS lake').output.statusQueryGetUri",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Set target PatientId",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PatientId",
					"value": "{\"PatientId\": \"763cfad1-a080-429b-1373-08d904e5b14a\"}"
				}
			},
			{
				"name": "Wait a few seconds",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Patient OIQ data to DS lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			}
		],
		"variables": {
			"PatientId": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-18T15:15:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}