EnMovi-Data-Transformer-Development/PartialArmTemplates/ArmTemplate_6_2_2021_17_34_48.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EnMovi-Data-Transformer-Development"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy single patient gait data to lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait until finish",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait a few seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@activity('Pipeline data to lake').output.statusQueryGetUri",
								"type": "Expression"
							},
							"method": "GET"
						}
					},
					{
						"name": "Set target PatientId",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PatientId",
							"value": "{\"PatientId\": \"763cfad1-a080-429b-1373-08d904e5b14a\"}"
						}
					},
					{
						"name": "Wait a few seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Pipeline data to lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Pipeline data to lake",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Set target PatientId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 10,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrators/CopyPatientGaitPipelineToDataLake_orchestrator",
							"method": "POST",
							"body": {
								"value": "@variables('PatientId')",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "Data_Factory_Azure_Functions",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"PatientId": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-05-18T17:24:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy single patient pipeline data to lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait until finish",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait a few seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@activity('Pipeline data to lake').output.statusQueryGetUri",
								"type": "Expression"
							},
							"method": "GET"
						}
					},
					{
						"name": "Set target PatientId",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PatientId",
							"value": "{\"PatientId\": \"763cfad1-a080-429b-1373-08d904e5b14a\"}"
						}
					},
					{
						"name": "Wait a few seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Pipeline data to lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Pipeline data to lake",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Set target PatientId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 10,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrators/CopyPatientRawPipelineToDataLake_orchestrator",
							"method": "POST",
							"body": {
								"value": "@variables('PatientId')",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "Data_Factory_Azure_Functions",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"PatientId": {
						"type": "String"
					},
					"Output": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-05-19T14:07:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy single patient telemetry data to lake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait until finish",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait a few seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@activity('Pipeline data to lake').output.statusQueryGetUri",
								"type": "Expression"
							},
							"method": "GET"
						}
					},
					{
						"name": "Set target PatientId",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PatientId",
							"value": "{\"PatientId\": \"763cfad1-a080-429b-1373-08d904e5b14a\"}"
						}
					},
					{
						"name": "Wait a few seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Pipeline data to lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Pipeline data to lake",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Set target PatientId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 10,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "orchestrators/CopyPatientTelemetryPipelineToDataLake_orchestrator",
							"method": "POST",
							"body": {
								"value": "@variables('PatientId')",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "Data_Factory_Azure_Functions",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"PatientId": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-05-18T17:24:26Z"
			},
			"dependsOn": []
		}
	]
}